@import "tailwindcss";

*{
    box-sizing:  border-box;
    
}

.loaderdiv{
    width: 100vw;
    height: 100vh;
    background-color: #1f1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    border: 10px solid gray;
    border-top-color: blue;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    animation: loader 0.8s ease-in 0s infinite;
}


@keyframes loader {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg); 
    }
  }

.some{
    position: relative;
}
.some::after{
    content: '';
    position: absolute;
    width: 100%;
    background-color: red;
    height: 2px;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
}

.some:hover::after {
    transform: scaleX(1);
}